*{
    background-color: white;
    font-family: garamond,serif;
    font-size: medium;
    color: grey;
}

header {
    font-size: 50px;
    color: rgb(183, 184, 255);
    text-align: center;
    font-weight: bold;
}

#sun-img{
    border: 2px solid rgba(245, 231, 36, 0.932);	
  border-radius: 4px;						
  height: auto;	
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.todays-forcast{
  padding: auto;
  text-align: center;
}
.btn{
    background-color: rgb(183, 184, 255)
}
.five-day-forcast{
  padding: auto;
  text-align: center;
}
#forcast-name {
    font-weight: bold;
}
#5-day-name{
    font-weight: bold;
}
#city-name{
    text-align:center
}